:root {
    --color1: #0d001a;
    --color2: #2c0093;
    --color3: #9a83cf;
}

body {
    background-color: var(--color1);
	font-family: "Courier New";
    font-weight: bold;
}

div {
    background-color: var(--color3);
    width: 600px;
    border: 15px solid var(--color2);
    padding: 50px;
    margin: auto;
  }