:root {
    --color1: #0d001a;
    --color2: #2c0093;
    --color3: #9a83cf;
}

body {
    background-color: var(--color1);
    background-image: url("images/mini-soulburger-heaven.gif");
	font-family: "Courier New";
    font-weight: bold;
}

.box {
    background-color: var(--color3);
    width: 600px;
    border: 15px solid var(--color2);
    padding: 20px;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: auto;
    background-color: var(--color3);
    border: 15px solid var(--color2);
    width: 670px;
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    border: 10px solid var(--color2);
    padding: 5px;
}

td {
    padding: 15px;
}

th {
    padding: 1px;
}

div {text-align: center;}